<!DOCTYPE html>
<html>
<head>
    <title>Anonymous Confession</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="post-box">
    <h1>💗 Anonymous Confession</h1>

    <p>
        Welcome to Anonymous Confession.<br><br>
        📌 Share your thoughts freely<br>
        📌 Be respectful<br>
        📌 No bullying or hate speech<br>
        📌 Posts are anonymous to the public
    </p>

    <a href="/login">
        <button>Login to Continue</button>
    </a>
</div>

</body>
</html>
