<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>🔑 Login</h1>

<form method="post">
    <input name="username" placeholder="Username" required>
    <br><br>
    <input name="password" type="password" placeholder="Password" required>
    <br><br>
    <button>Login</button>
</form>

<p style="text-align:center;">
    No account? <a href="/register">Register here</a>
</p>

</body>
</html>
