<!DOCTYPE html>
<html>
<head>
    <title>My Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="top-bar">
    <a href="/">⬅ Back</a>
    <a href="/logout">Logout</a>
</div>

<h1>👤 {{ user }}</h1>

<h3>🔔 Notifications</h3>
{% for n in notifications %}
    <div class="post-box">{{ n[2] }}</div>
{% else %}
    <p>No notifications.</p>
{% endfor %}

<hr>

<h3>📜 My Confessions</h3>
{% for post in posts %}
<div class="post-box">
    <div class="emoji-display">{{ post[2] }}</div>
    <p>{{ post[1] }}</p>
    <small>❤️ {{ post[4] }} Likes</small>
</div>
{% else %}
<p>No posts yet.</p>
{% endfor %}

</body>
</html>
